{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title> Welcome to the best news website to preview news article</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Content block-->
        {% block content %}

        <h3> News Articles </h3>
        <ul>
            {{ macro.displayArticlesList(news_articles)}}
        </ul>
        <h3> News Sources </h3>
        <ul>
            {{ macro.displaySourcesList(news_sources)}}
        </ul>
        

        {% endblock %}
    </body>
</html>